.Navbar {
    background-color: var(--secondary-color);
    color: var(--background-color);
    // position: fixed;
    width: 100%;
    font-size: .8rem;

    height: 65px;
    // top: -65px;

    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        margin: 0px;
        list-style-type: none;
        display: flex;
        height: 100%;

        li {
            margin-bottom: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--secondary-color);
                color: var(--background-color);
                text-decoration: none;
                padding: 0px 16px;
                transition: 300ms;

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--background-color);
                }
            }




        }
    }
}

// @media only screen and (max-width: 900px) {
//     .Navbar {

//     }
// }